@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');


body{
    font-size: 40px;
   background-image: url("https://s5.static.brasilescola.uol.com.br/be/2022/04/parede-grafite.jpg");
   background-size: cover;
   text-decoration: white;
   text-align: center;
   text-transform: uppercase;
}

a{
    color: rgb(0, 183, 255);
}

.tagesschrift-regular {
    font-family: "Tagesschrift", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

