body{
    font-size: 40px;
   background-image: url("https://s5.static.brasilescola.uol.com.br/be/2022/04/parede-grafite.jpg");
   background-size: cover;
   text-decoration: white;
   text-align: center;
   text-transform: uppercase;
}

a{
    color: rgb(0, 183, 255);
}

.bt1{
    background-color: rgb(100, 96, 96);
    padding: 3px 3px;
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 250px;
}

.bt2{
    background-color: rgb(100, 96, 96);
    padding: 3px 3px;
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 250px;
}

.bt3{
    background-color: rgb(100, 96, 96);
    padding: 3px 3px;
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 250px;
}
  

