body {
    font-size: 40px;
    background-image: url("https://s5.static.brasilescola.uol.com.br/be/2022/04/parede-grafite.jpg");
    background-size: cover;
    text-decoration: white;
    text-align: center;
    text-transform: uppercase;
}

a {
    color: rgb(0, 0, 0);
}

.bt1 {
    background-color: rgb(185, 172, 172);
    padding: 3px 3px;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 180px;
}

.bt2 {
    background-color: rgb(185, 172, 172);
    padding: 3px 3px;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 180px;
}

.bt3 {
    background-color: rgb(185, 172, 172);
    padding: 3px 3px;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 180px;
}